@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700&display=swap');

.home-contain{
  overflow-x: hidden;
  overflow-y: hidden;
}
.titleapp {
  color: white;
}
.load {
  z-index: 1000;
  color: white;
}
.content-dolarblue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
  border-radius: 8px;
  max-width: 700px;
  padding-bottom: 10px;
  border-radius: 8px;
  z-index: 1000;
  color: white;
  opacity: 0.8;
  margin: auto;
  position: relative;
}

.content-dolarofi{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  padding-bottom: 10px;
  margin-top: 30px;
  color: white;
  opacity: 0.8;
  margin: auto;
  position: relative;
}
.content-promedio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  border: 2px solid white;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: 8px;
  z-index: 1000;
  background-color: #145a12;
  color: white;
  opacity: 0.8;
} 
.content-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  padding-bottom: 10px;
  border-radius: 8px;
  z-index: 1000;
  background-color: #145a12;
  color: white;
  border: solid 2px white;
  padding: 0px;
  margin: 3px;
}
.venta {
  border-bottom-right-radius: 22px;
  border-top-right-radius: 32px
}

.promedio {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
}

.item-span {
  font-family: 'Creepster', cursive;
  font-family: 'Noto Sans Mono', monospace;
  margin-left: 10px;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}
.title-prom {
  font-size: 16px;
}