.titleapp {
    padding: 16px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(87, 85, 85);
    border-radius: 8px;
    opacity: 0.8;
    max-width: 670px;
    margin: auto;
    background-color: #81bb81;
    margin-bottom: 15px;
}

.firstimg {
  margin-right: 5px;
}
.secondimg {
  margin-left: 5px;
}

@media(max-width:425px){
  
}

