.titleapp {
    padding: 16px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 8px;
    max-width: 670px;
    margin: auto;
    margin-bottom: 15px;
}

.firstimg {
  margin-right: 5px;
}
.secondimg {
  margin-left: 5px;
}

@media(max-width:425px){
  
}

